.b-RichText {
  b,
  strong {
    font-weight: bold;
    margin-right: 2px;
    margin-left: 2px;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  hr {
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    @apply border-1 border-gray-300 bg-gray-200 px-vgap-xs;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  * {
    box-sizing: border-box;
  }
  hr {
    @apply mb-vgap-md;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #262626;
    height: 0;
    overflow: hidden;
  }
  hr:before {
    content: "";
    display: table;
  }
  hr:after {
    clear: both;
    content: "";
    display: table;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2 {
    @apply text-xl pt-vgap-md pb-vgap-md mt-vgap-md;
    @apply border-t-10 border-c-primary-border;
    @apply -ml-colgap-lg pl-colgap-lg;
  }
  h3 {
    @apply text-lg;
    @apply pt-vgap-md pb-vgap-md mt-vgap-md;
    @apply border-t-5 border-c-primary-border;
  }
  h4 {
    @apply text-base;
    @apply pt-vgap-xs pb-vgap-sm-minus;
  }
  p {
    @apply pb-vgap-md-minus;
  }
  ul {
    @apply ml-colgap-md pb-vgap-md-minus;
    list-style-type: disc;
    li {
      @apply mt-vgap-2xs;
      &:first-child {
        @apply mt-0;
      }
    }
    ul,
    ol {
      @apply pb-vgap-2xs mt-vgap-2xs;
    }
  }
  ol {
    @apply ml-colgap-md pb-vgap-md-minus list-decimal;
    li {
      @apply mt-vgap-2xs;
      &:first-child {
        @apply mt-0;
      }
    }
    ul,
    ol {
      @apply pb-vgap-2xs mt-vgap-2xs;
    }
  }
  small {
    font-size: 90%;
  }
  blockquote {
    @apply border-gray-400 border-l-4 bg-gray-200 pl-colgap-sm pt-vgap-md mb-vgap-md;
  }
  /*
  TODO: does not work in braces?
  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }
  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }
  */
  dd {
    margin-left: 0;
  }
  tt,
  code,
  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
      monospace;
  }
  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .highlight {
    margin-bottom: 16px;
  }
  .highlight pre {
    padding: 16px;
    margin-bottom: 0;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
  }
  pre {
    padding: 16px;
    margin-bottom: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    word-wrap: normal;
    & + h2,
    & + h3 {
      @apply mt-vgap-lg;
    }
  }
  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }
  pre code:before,
  pre code:after {
    content: normal;
  }
  pre tt:before,
  pre tt:after {
    content: normal;
  }
  .poetry pre {
    font-family: Georgia, Garamond, serif !important;
    font-style: italic;
    font-size: 110% !important;
    line-height: 1.6em;
    display: block;
    margin-left: 1em;
  }
  .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap;
  }
  sup,
  sub,
  a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    vertical-align: super;
    position: relative;
  }
  sub {
    vertical-align: sub;
    top: -1px;
  }
  .highlight {
    background: #fff;
  }
  .highlight .c {
    color: #998;
    font-style: italic;
  }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .highlight .k,
  .highlight .o {
    font-weight: 700;
  }
  .highlight .cm {
    color: #998;
    font-style: italic;
  }
  .highlight .cp {
    color: #999;
    font-weight: 700;
  }
  .highlight .c1 {
    color: #998;
    font-style: italic;
  }
  .highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic;
  }
  .highlight .gd {
    color: #000;
    background-color: #fdd;
  }
  .highlight .gd .x {
    color: #000;
    background-color: #faa;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gr {
    color: #a00;
  }
  .highlight .gh {
    color: #999;
  }
  .highlight .gi {
    color: #000;
    background-color: #dfd;
  }
  .highlight .gi .x {
    color: #000;
    background-color: #afa;
  }
  .highlight .go {
    color: #888;
  }
  .highlight .gp {
    color: #555;
  }
  .highlight .gs {
    font-weight: 700;
  }
  .highlight .gu {
    color: purple;
    font-weight: 700;
  }
  .highlight .gt {
    color: #a00;
  }
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr {
    font-weight: 700;
  }
  .highlight .kt {
    color: #458;
    font-weight: 700;
  }
  .highlight .m {
    color: #099;
  }
  .highlight .s {
    color: #d14;
  }
  .highlight .n {
    color: #333;
  }
  .highlight .na {
    color: teal;
  }
  .highlight .nb {
    color: #0086b3;
  }
  .highlight .nc {
    color: #458;
    font-weight: 700;
  }
  .highlight .no {
    color: teal;
  }
  .highlight .ni {
    color: purple;
  }
  .highlight .ne,
  .highlight .nf {
    color: #900;
    font-weight: 700;
  }
  .highlight .nn {
    color: #555;
  }
  .highlight .nt {
    color: navy;
  }
  .highlight .nv {
    color: teal;
  }
  .highlight .ow {
    font-weight: 700;
  }
  .highlight .w {
    color: #bbb;
  }
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .mo {
    color: #099;
  }
  .highlight .sb,
  .highlight .sc,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .si,
  .highlight .sx {
    color: #d14;
  }
  .highlight .sr {
    color: #009926;
  }
  .highlight .s1 {
    color: #d14;
  }
  .highlight .ss {
    color: #990073;
  }
  .highlight .bp {
    color: #999;
  }
  .highlight .vc,
  .highlight .vg,
  .highlight .vi {
    color: teal;
  }
  .highlight .il {
    color: #099;
  }
  .highlight .gc {
    color: #999;
    background-color: #eaf2f5;
  }
  .type-csharp .highlight .k,
  .type-csharp .highlight .kt {
    color: blue;
  }
  .type-csharp .highlight .nf {
    color: #000;
    font-weight: 400;
  }
  .type-csharp .highlight .nc {
    color: #2b91af;
  }
  .type-csharp .highlight .nn {
    color: #000;
  }
  .type-csharp .highlight .s,
  .type-csharp .highlight .sc {
    color: #a31515;
  }
  .type-csharp .highlight .k,
  .type-csharp .highlight .kt {
    color: #00f;
  }
  .type-csharp .highlight .nf {
    color: #000;
    font-weight: normal;
  }
  .type-csharp .highlight .nc {
    color: #2b91af;
  }
  .type-csharp .highlight .nn {
    color: #000;
  }
  .type-csharp .highlight .s,
  .type-csharp .highlight .sc {
    color: #a31515;
  }
  kbd {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  .b-ColumnBlock {
    h2 {
      @apply text-lg;
      @apply -mx-colgap-md px-colgap-md mt-0 border-t-4 pb-vgap-sm;
    }
  }
}

/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  @apply mb-vgap-md;
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
